#mint-btn {
    position: relative;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(134, 252, 77, 1) 0%, rgba(78, 162, 38, 1) 8%, rgba(140, 235, 94, 1) 100%);

    &:after {
        animation: shine 5s  1s ease-in-out infinite;
        animation-fill-mode: forwards;  
        content: "";
        position: absolute;
        top: 100%;
        left: 100%;
        width: 100%;
        height: 10%;
        opacity: 0;
        transform: rotate(25deg);
        
        background: rgba(255, 255, 255, 1);
        background: linear-gradient(
            to right, 
            rgba(255, 255, 255, 1.00) 0%,
            rgba(255, 255, 255, 0.80) 77%,
            rgba(255, 255, 255, 0.60) 92%,
            rgba(255, 255, 255, 0.40) 100%
        );
    }

    @keyframes shine{
        0% {
            opacity: 1;
            top: 50%;
            left: -100%;
            transition-property: left, top, opacity;
            transition-timing-function: ease;
        }
        20%, 100% {
            opacity: 0;
            top: 100%;
            left: 100%;
            transition-property: left, top, opacity;
        }
    }

    &:hover {
        color: #fff
    }
}

.shake {
    animation: shake 1.5s ease-in-out infinite;
}

.spin {
    animation-name: spin;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.spin-reverse {
    animation-name: spin-reverse;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.instant_shake {
    animation: shake 1.5s ease-in-out infinite;
}

.loader-wrapper {
    width: 60px;
    height: 60px;
}
.loader {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 7px solid #162534;
    border-top-color: #86FC4D;
    border-bottom-color: #86FC4D;
    border-radius: 50%;
    animation: rotate 5s linear infinite;
}
.loader-inner {
    border-top-color: #FFF;
    border-bottom-color: #FFF;
    animation-duration: 2.5s;
}

@keyframes rotate {
    0% {
        transform: scale(1) rotate(360deg);
    }
    50% {
        transform: scale(0.8) rotate(-360deg);
    }
    100% {
        transform: scale(1) rotate(360deg);
    }
}

@keyframes anime {
    0% {
      width: 0%;
      height: 0%;
    }
    25% {
      width: 50%;
      height: 50%;
    }
    50% {
      width: 75%;
      width: 75%;
    }
    100% {
      width: 100%;
      width: 100%;
    }

}

@keyframes shake {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-5deg); }
    20% { transform: rotate(5deg); }
    30% { transform: rotate(0deg); }
    40% { transform:  rotate(1deg); }
    50% { transform:  rotate(-1deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(-1deg); }
    80% { transform:  rotate(1deg); }
    90% { transform: rotate(0deg); }
    100% { transform: rotate(-1deg); }
}

@keyframes spin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin-reverse{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}