#mint-btn {
    position: relative;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(134, 252, 77, 1) 0%, rgba(78, 162, 38, 1) 8%, rgba(140, 235, 94, 1) 100%);

    &:after {
        animation: shine 5s  1s ease-in-out infinite;
        animation-fill-mode: forwards;  
        content: "";
        position: absolute;
        top: 100%;
        left: 100%;
        width: 100%;
        height: 10%;
        opacity: 0;
        transform: rotate(25deg);
        
        background: rgba(255, 255, 255, 1);
        background: linear-gradient(
            to right, 
            rgba(255, 255, 255, 1.00) 0%,
            rgba(255, 255, 255, 0.80) 77%,
            rgba(255, 255, 255, 0.60) 92%,
            rgba(255, 255, 255, 0.40) 100%
        );
    }

    @keyframes shine{
        0% {
            opacity: 1;
            top: 50%;
            left: -100%;
            transition-property: left, top, opacity;
            transition-timing-function: ease;
        }
        20%, 100% {
            opacity: 0;
            top: 100%;
            left: 100%;
            transition-property: left, top, opacity;
        }
    }

    &:hover {
        color: #fff
    }
}

.shake {
    &:hover, &:focus {
        animation: shake 1.5s ease-in-out infinite;
    }

    @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
}

.spin {
    animation-name: rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    @keyframes rotate{
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

// TODO - maybe keep maybe remove who know
.anim_container {
    background: transparent;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
}
.anim_box {
    width: inherit;
    height: inherit;
    animation: anime 3s ease;
    /* animation-fill-mode: forwards; */
}

@keyframes anime {
    0% {
      width: 0%;
      height: 0%;
    }
    25% {
      width: 50%;
      height: 50%;
    }
    50% {
      width: 75%;
      width: 75%;
    }
    100% {
      width: 100%;
      width: 100%;
    }

}