@font-face {
  font-family: "Gagalin";
  src: url("/fonts/WOFF/gagalin.woff");
  font-display: swap;
}

@font-face {
    font-family: "Cooper Hewitt";
    src: url("/fonts/WOFF/cooperhewitt.woff");
    font-display: swap;
  }